*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    line-height: 1.2;
}

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--text-color);
    overflow-x: hidden;
    max-width: var(--max-width);
    min-width: var(--min-width);
    width: 100%;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

button {
    font-family: inherit;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.8rem;
    font-weight: 300;
}
