:root {
    --min-width: 360px;
    --max-width: 1140px;

    --font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

    --primary-color: rgba(236, 22, 48, 1);
    --light-color: rgba(255, 255, 255, 1);
    --info-color: rgba(196, 196, 196, 1);
    --text-color: rgba(19, 23, 24, 1);

    --transition-base: 0.3s ease;

    --radius-md: 25px;
    --radius-sm: 8px;
}


